<?xml version="1.0"?>
<config>
    <modules>
        <Matrix_Sidecat>
            <version>0.1.0</version>
        </Matrix_Sidecat>
    </modules>
    <frontend>
		<secure_url>
            <sidecat>/sidecat/</sidecat>
        </secure_url>	
        <routers>
            <sidecat>
                <use>standard</use>
                <args>
                    <module>Matrix_Sidecat</module>
                    <frontName>sidecat</frontName>
                </args>
            </sidecat>
        </routers>
        <layout>
            <updates>
                <sidecat>
                    <file>sidecat.xml</file>
                </sidecat>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<sidecat>
				<use>admin</use>
				<args>
					<module>Matrix_Sidecat</module>
					<frontName>sidecat</frontName>
				</args>
			</sidecat>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<sidecat>
					<file>sidecat.xml</file>
				</sidecat>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <sidecat>
                <class>Matrix_Sidecat_Model</class>
                <resourceModel>sidecat_mysql4</resourceModel>
            </sidecat>
            <sidecat_mysql4>
                <class>Matrix_Sidecat_Model_Mysql4</class>
                <entities>
                    <sidecat>
                        <table>sidecat</table>
                    </sidecat>
                </entities>
            </sidecat_mysql4>
        </models>
        <resources>
            <sidecat_setup>
                <setup>
                    <module>Matrix_Sidecat</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sidecat_setup>
            <sidecat_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sidecat_write>
            <sidecat_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sidecat_read>
        </resources>
        <blocks>
            <sidecat>
                <class>Matrix_Sidecat_Block</class>
            </sidecat>
			<catalog>
				<rewrite>
					<navigation>Matrix_Sidecat_Block_Sidecat</navigation>
				</rewrite>
			</catalog>		
        </blocks>
        <helpers>
            <sidecat>
                <class>Matrix_Sidecat_Helper</class>
            </sidecat>
			<catalog>
				<rewrite>
					<category>Matrix_Sidecat_Helper_Category</category>
				</rewrite>
			</catalog>
        </helpers>
		<template>
			<email>
				<sidecat_general_email_template>
					<label>Title Email</label>
					<file>sidecat_example.html</file>
					<type>html</type>
				</sidecat_general_email_template>
			</email>
		</template>			
    </global>
	<!--Set Default Value For Setting Options-->
	<default>
		<sidecat>
			<display_settings>
				<enabled>1</enabled>
				<position>left</position>
				<category_level>0</category_level>
				<show_type>static</show_type>	
			</display_settings>
		</sidecat>
	</default>
	<translate>
		<modules>
			<Matrix_Sidecat>
				<files>
					<default>Matrix_Sidecat.csv</default>
				</files>
			</Matrix_Sidecat>
		</modules>
	</translate>	
</config>
