<?xml version="1.0"?>
<config>
    <tabs>
        <matrix translate="label">
            <label>Matrix</label>
            <sort_order>400</sort_order>
        </matrix>
    </tabs>
	<sections>
        <sidecat translate="label" module="sidecat">
            <label>Category Sidebar Listing</label>
            <tab>matrix</tab>
            <frontend_type>text</frontend_type>
            <sort_order>299</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
			<groups>
				<display_settings translate="label">
                    <label>General Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<enabled translate="label comment">
							<label>Status Enabled</label>
                            <frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</enabled>
						<position translate="label comment">
							<label>Sidebar position</label>
                            <frontend_type>select</frontend_type>
							<source_model>sidecat/system_config_position</source_model>
							<sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Display list category on left (or right) sidebar</comment>
						</position>
						<category_level translate="label comment">
							<label>No of sub categories</label>
							<frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Category level to show(0 - show all)</comment>
						</category_level>
						<show_type translate="label comment">
							<label>Display type</label>
                            <frontend_type>select</frontend_type>
							<source_model>sidecat/system_config_type</source_model>
							<sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</show_type>	
				<show_font translate="label comment">
							<label>Text format</label>
                            <frontend_type>select</frontend_type>
							<source_model>sidecat/system_config_font</source_model>
							<sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</show_font>

				<category_color translate="label comment">
							<label>Text color</label>
							<frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>For eg. #000000</comment>
						</category_color>
			<category_background translate="label comment">
							<label>Label background color</label>
							<frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>For eg. #000000</comment>
						</category_background>	

			<category_label translate="label comment">
							<label>Label name</label>
							<frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>							
						</category_label>
			<category_textColor translate="label comment">
							<label>Label color</label>
							<frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>	
                            <comment>For eg. #000000</comment>							
						</category_textColor>
					</fields>
				</display_settings>
			</groups>
		</sidecat>
    </sections>
</config>
